body {
  font-family: 'Titan One', sans-serif;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 37px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-container {
  background-color: #ffb8ca;
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding-left: 46px;
  }
}

.nav__burger {
  margin-left: auto;
  background-color: #ffb8ca;
}

@media screen and (min-width: 768px) {
  .nav__burger {
    margin-left: 291px;
  }
}

@media screen and (min-width: 1280px) {
  .nav__burger {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  background-color: #e17992;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.mob-menu__close {
  background-color: #e17992;
}

.mob-menu__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #e17992;
}

.is-hidden {
  position: relative;
  opacity: 0;
  pointer-events: none;
}

.mob-menu__links {
  text-align: center;
  margin-top: 60px;
}

.mob-menu__btn {
  padding: 0 20px;
  position: relative;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  color: #d41443;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  font-family: DM Sans;
  margin-bottom: 19px;
}

.tab-menu__btn {
  display: none;
  padding: 0 20px;
  position: relative;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffffff;
  color: #d41443;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  font-family: DM Sans;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .tab-menu__btn {
    display: block;
  }
  .tab-menu__btn:hover, .tab-menu__btn:focus {
    background-color: #ecebeb;
  }
}

@media screen and (min-width: 1280px) {
  .tab-menu__btn {
    margin-left: auto;
  }
}

.mob-menu__arrow-icon {
  fill: #d41443;
  position: absolute;
  top: 19px;
  right: 48px;
}

.tab-menu__arrow-icon {
  fill: #d41443;
  position: absolute;
  top: 19px;
  right: 26px;
}

.mob-menu__list {
  text-align: start;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.mob-menu__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  font-family: DM Sans;
  color: #ffffff;
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: #d41443;
}

.mob-menu__item {
  padding: 0 20px;
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
}

.mob-menu__item:not(:last-child) {
  border-bottom: 1px solid #e18298;
}

.nav__list {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 110px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  color: #ffffff;
  font-family: DM Sans;
}

.nav__link:hover, .nav__link:focus {
  color: #d41443;
}

.advantages {
  width: 100vw;
  padding: 105px 0 145px;
  background-color: #fff5f6;
}

.advantages__card {
  position: relative;
  width: 230px;
}

.advantages__card:not(:last-of-type) {
  margin-bottom: 104px;
}

.advantages__icon {
  display: block;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: -16px;
  max-width: 50px;
  max-height: 50px;
}

.advantages__icon--narrow {
  left: -12px;
}

.advantages__header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.13889;
  letter-spacing: 0.04em;
  color: #d41443;
}

.advantages__text {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.66667;
  letter-spacing: 0;
  color: #000000;
}

@media (min-width: 768px) {
  .advantages {
    padding: 152px 0 246px;
  }
  .advantages__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__card {
    width: 180px;
  }
  .advantages__card:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 60px;
  }
  .advantages__icon {
    top: -36px;
  }
  .advantages__header {
    margin-bottom: 13px;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.14583;
    letter-spacing: 0.04em;
  }
  .advantages__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71429;
    letter-spacing: 0;
  }
}

@media (min-width: 1280px) {
  .advantages {
    padding: 64px 0 310px;
  }
  .advantages__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__card {
    width: 330px;
  }
  .advantages__card:not(:last-of-type) {
    margin-right: 30px;
  }
  .advantages__icon {
    top: -40px;
  }
  .advantages__header {
    margin-bottom: 15px;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.13793;
    letter-spacing: 0.04em;
  }
  .advantages__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0;
  }
}

.gallery {
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.gallery__container {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .gallery__container {
    max-width: 320px;
  }
}

.gallery__collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2px;
}

.gallery__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__column:not(:last-of-type) {
  padding-right: 2px;
}

.column__one {
  margin: 38px 0 42px;
}

.column__two {
  margin: 23px 0 15px;
}

.column_four {
  margin: 26px 0 12px;
}

.column__five {
  margin: 15px 0 23px;
}

.column__six {
  margin: 42px 0 38px;
}

.column__three {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.gallery__pic {
  width: 38px;
  height: auto;
}

.gallery__pic--active {
  width: 100%;
  height: auto;
  padding-bottom: 2px;
}

.gallery__pic:not(:last-of-type) {
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .gallery__collage {
    padding: 0 42px;
  }
  .gallery__column:not(:last-of-type) {
    padding-right: 4px;
  }
  .column__one {
    margin: 90px 0 84px;
  }
  .column__two {
    margin: 54px 0 35px;
  }
  .column_four {
    margin: 60px 0 29px;
  }
  .column__five {
    margin: 35px 0 54px;
  }
  .column__six {
    margin: 84px 0 90px;
  }
  .gallery__pic {
    width: 85px;
  }
  .gallery__pic--active {
    padding-bottom: 4px;
  }
  .gallery__pic:not(:last-of-type) {
    margin-bottom: 4px;
  }
}

@media (min-width: 1280px) {
  .gallery__column {
    -webkit-transition-property: margin;
    transition-property: margin;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .gallery__column:not(:last-of-type) {
    padding-right: 5px;
  }
  .column__one {
    margin: 140px 0 150px;
  }
  .column__two {
    margin: 85px 0 60px;
  }
  .column_four {
    margin: 100px 0 45px;
  }
  .column__five {
    margin: 60px 0 85px;
  }
  .column__six {
    margin: 150px 0 140px;
  }
  .gallery__pic {
    width: 140px;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .gallery__pic:not(:last-of-type) {
    margin-bottom: 5px;
  }
  .gallery__pic:hover {
    width: 280px;
    height: auto;
  }
  .gallery__pic--active {
    padding-bottom: 5px;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .gallery__pic:hover + .gallery__pic--active {
    width: 50%;
  }
}

.footer {
  margin: 0 auto;
  padding: 113px 0 0;
  background-color: #fff5f6;
}

.footer__copyright {
  margin: 0 auto;
  padding: 23px 0;
  border-top: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 43px;
}

.footer__text {
  width: 232px;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__accent {
  width: 200px;
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.14706;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-social {
  width: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 46px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fea5bb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #d41443;
}

.footer-social__icon {
  max-width: 34px;
  max-height: 34px;
  fill: #ffffff;
}

.footer__phone {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.83333;
  letter-spacing: 0.02em;
  color: #000;
}

.footer__tel {
  color: #d41443;
}

.copyright__text {
  display: block;
  width: 150px;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.85714;
  letter-spacing: 0.02em;
  color: #907e82;
}

@media (min-width: 768px) {
  .footer {
    padding: 158px 0 0;
  }
  .footer__copyright {
    padding: 29px 0 18px;
  }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 98px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .footer__slogan {
    margin-bottom: 0;
  }
  .footer__text {
    width: 340px;
    margin-bottom: 16px;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15385;
    letter-spacing: 0.04em;
  }
  .footer__accent {
    width: 340px;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.14583;
    letter-spacing: 0.06em;
  }
  .footer__contacts {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer-social {
    width: 162px;
  }
  .footer__phone {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.85714;
    letter-spacing: 0.02em;
  }
  .copyright__text {
    width: 276px;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 165px 0 10px;
  }
  .footer__copyright {
    padding: 10px;
  }
  .footer .footer__text {
    width: 480px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13333;
    letter-spacing: 0.04em;
  }
  .footer .footer__accent {
    width: 480px;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.13793;
    letter-spacing: 0.06em;
  }
  .footer .footer-social {
    width: 151px;
    margin-bottom: 50px;
  }
  .footer .footer__phone {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.02em;
  }
  .footer .copyright__text {
    width: 276px;
  }
}
/*# sourceMappingURL=main.css.map */