//Это для переменных, предлагаю задать переменные для шрифтов

// Главный цвет текста
$primaryColor: #ffffff;

// Вторичный цвет текста
$secondaryColor: #000000;

// Третий цвет текста
$thirdColor: #ffa5ba;

// Четвертый цвет текста
$fourthColor: #d41443;

// Пятый цвет текста
$fifthColor: #907e82;

// Главный цвет кнопки при ховере
$primaryBackground: #c7133e;

// Вторичный цвет кнопки при ховере
$secondaryBackground: #ecebeb;
