<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
</head>
<!----------Advantages --------->
<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-lis__item"> <div class="advantages-lis__box"> <svg class="" width="33" height="50"><use href="./images/svg/sprite.svg#icon-cow"></use></svg> <h2 class="advantages-lis__title">721</h2> <p class="advantages-lis__text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></div></li>
        <li class="advantages-lis__item"> <div class="advantages-lis__box"> <svg class="" width="33" height="50"><use href="./images/svg/sprite.svg#icon-apples"></use></svg> <h2 class="advantages-lis__title">16kg</h2> <p class="advantages-lis__text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></div></li>
        <li class="advantages-lis__item"> <div class="advantages-lis__box"> <svg class="" width="33" height="50"><use href="./images/svg/sprite.svg#icon-heart"></use></svg> <h2 class="advantages-lis__title">84</h2> <p class="advantages-lis__text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></div></li>
    </ul>
    </div>
</section>
</html>