<section class="advantages">
  <div class="advantages__container container">
    <h2 class="visually-hidden">Advanteges</h2>
    <div class="advantages__card">
      <svg class="advantages__icon advantages__icon--narrow">
        <use href="./images/svg/sprite.svg#icon-cow"></use>
      </svg>
      <h3 class="advantages__header">721</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="advantages__card">
      <svg class="advantages__icon">
        <use href="./images/svg/sprite.svg#icon-apples"></use>
      </svg>
      <h3 class="advantages__header">16kg</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    <div class="advantages__card">
      <svg class="advantages__icon">
        <use href="./images/svg/sprite.svg#icon-heart"></use>
      </svg>
      <h3 class="advantages__header">84</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
  </div>
</section>
