<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Заголовок страницы</title>
  </head>
  <section class="contacts">
    <div class="contacts__wrap">
      <div class="container contacts__container">
        <h1 class="visually-hidden">contacts</h1>
        <div class="contacts__card">
          <p class="contacts__title">CAFE</p>
          <div class="contacts__location location">
            <div class="location__city">Chicago</div>
            <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__week week">
            <div class="week__day">Monday - Friday</div>
            <p class="week__time">06:00 AM - 10:00 PM</p>
            <div class="week__day">Saturday - Sunday</div>
            <p class="week__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__conection conection">
            <ul class="conection__list">
              <li class="conection__link">
                <a class="conection__nav conection__tel" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="conection__link">
                <a class="conection__nav conection__mail" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container contacts__container">
        <div class="contacts__card">
          <p class="contacts__title truck">FOODTRUCK</p>
          <div class="contacts__location location">
            <div class="location__city">Los Angeles</div>
            <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__week week">
            <div class="week__day">Monday - Friday</div>
            <p class="week__time">06:00 AM - 10:00 PM</p>
            <div class="week__day">Saturday - Sunday</div>
            <p class="week__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__conection conection">
            <ul class="conection__list">
              <li class="conection__link">
                <a class="conection__nav conection__tel" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="conection__link">
                <a class="conection__nav conection__mail" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container contacts__container">
        <div class="contacts__card">
          <p class="contacts__title">CAFE</p>
          <div class="contacts__location location">
            <div class="location__city">New York</div>
            <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__week week">
            <div class="week__day">Monday - Friday</div>
            <p class="week__time">06:00 AM - 10:00 PM</p>
            <div class="week__day">Saturday - Sunday</div>
            <p class="week__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__conection conection">
            <ul class="conection__list">
              <li class="conection__link">
                <a class="conection__nav conection__tel" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
              </li>
              <li class="conection__link">
                <a class="conection__nav conection__mail" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="contacts__btn">
      <span class="contacts__btn--text">Our Locations</span>
      <svg class="contacts__btn--icons" width="4" height="8">
        <use href="./images/svg/sprite.svg#icon-arrow-right-button"></use>
      </svg>
    </button>
    <button type="button" class="contacts__btn">
      <span class="contacts__btn--text">Franchise</span>
      <svg class="contacts__btn--icons" width="4" height="8">
        <use href="./images/svg/sprite.svg#icon-arrow-right-button"></use>
      </svg>
    </button>
  </section>
</html>
