<section class="revievs">
  <h2 class="visually-hidden">Customer-reviews</h2>
  <div class="container">
    <!-- Slider -->
    <div class="slider">
      <!-- Slide 1 -->
      <div class="slider__item">
        <div class="slider__thumb">
          <picture class="slider__img">
            <source
              srcset="
                ./images/customer-reviews-webp/testimonials.webp    1x,
                ./images/customer-reviews-webp/testimonials@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/testimonials.png    1x,
                ./images/customer-reviews/testimonials@2x.png 2x
              "
            />
            <img
              class="slider__img"
              src="./images/customer-reviews/testimonials.png"
              alt="img"
              width="85px"
              height="85px"
            />
          </picture>
        </div>
        <div class="slider__wrapper">
          <p class="slider__review">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum aperiam, non
            error a laboriosam, placeat iure praesentium odit nisi culpa expedita quod corporis.
          </p>
        </div>
        <p class="slider__info">Emily, Los Angeles</p>
      </div>
      <!-- Slide 2 -->
      <div class="slider__item">
        <div class="slider__thumb">
          <picture class="slider__img">
            <source
              srcset="
                ./images/customer-reviews-webp/testimonials-2.webp    1x,
                ./images/customer-reviews-webp/testimonials-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/testimonials-2.png    1x,
                ./images/customer-reviews/testimonials-2@2x.png 2x
              "
            />
            <img
              class="slider__img"
              src="./images/customer-reviews/testimonials-2.png "
              alt="img"
              width="85px"
              height="85px"
            />
          </picture>
        </div>
        <div class="slider__wrapper">
          <p class="slider__review">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum aperiam, non
            error a laboriosam, placeat iure praesentium odit nisi culpa expedita quod corporis.
          </p>
        </div>
        <p class="slider__info">Lily, Chicago</p>
      </div>
      <!-- Slide 3 -->
      <div class="slider__item">
        <div class="slider__thumb">
          <picture class="slider__img">
            <source
              srcset="
                ./images/customer-reviews-webp/testimonials-3.webp    1x,
                ./images/customer-reviews-webp/testimonials-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/testimonials-3.png    1x,
                ./images/customer-reviews/testimonials-3@2x.png 2x
              "
            />
            <img
              class="slider__img"
              src="./images/customer-reviews/testimonials-3.png "
              alt="img"
              width="85px"
              height="85px"
            />
          </picture>
        </div>
        <div class="slider__wrapper">
          <p class="slider__review">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum aperiam, non
            error a laboriosam, placeat iure praesentium odit nisi culpa expedita quod corporis.
          </p>
        </div>
        <p class="slider__info">Ann, New York</p>
      </div>
    </div>
  </div>
</section>
