<section class="gallery">
  <div class="gallery__container container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__collage">
      <div class="gallery__column column__one">
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-1.png 1x, ./images/gallery/gallery-pic-1@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-1.png" alt="pic-1" />
        </picture>
      </div>
      <div class="gallery__column column__two">
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-2.png 1x, ./images/gallery/gallery-pic-2@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-2.png" alt="pic-2" />
        </picture>
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-3.png 1x, ./images/gallery/gallery-pic-3@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-3.png" alt="pic-3" />
        </picture>
      </div>
      <div class="gallery__column column__three">
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-4.png 1x, ./images/gallery/gallery-pic-4@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-4.png" alt="pic-4" />
        </picture>
        <picture class="gallery__pic--active">
          <source
            srcset="
              ./images/gallery/gallery-pic-10.png    1x,
              ./images/gallery/gallery-pic-10@2x.png 2x
            "
          />
          <img src="./images/gallery/gallery-pic-10.png" alt="pic-10" />
        </picture>
      </div>
      <div class="gallery__column column__four">
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-6.png 1x, ./images/gallery/gallery-pic-6@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-6.png" alt="pic-6" />
        </picture>
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-5.png 1x, ./images/gallery/gallery-pic-5@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-5.png" alt="pic-5" />
        </picture>
      </div>
      <div class="gallery__column column__five">
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-7.png 1x, ./images/gallery/gallery-pic-7@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-7.png" alt="pic-7" />
        </picture>
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-8.png 1x, ./images/gallery/gallery-pic-8@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-8.png" alt="pic-8" />
        </picture>
      </div>
      <div class="gallery__column column__six">
        <picture class="gallery__pic">
          <source
            srcset="./images/gallery/gallery-pic-9.png 1x, ./images/gallery/gallery-pic-9@2x.png 2x"
          />
          <img src="./images/gallery/gallery-pic-9.png" alt="pic-9" />
        </picture>
      </div>
    </div>
  </div>
</section>
