<section class="header">
  <div class="header-container container">
    <nav class="nav">
      <a href="./index.html">
        <svg class="nav__logo" width="199px" height="50px">
          <use href="./images/svg/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="" class="nav__link">About us</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Our products</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
      </ul>

      <button type="button" class="nav__burger" data-menu-open>
        <svg class="nav__burger-icon" width="20px" height="20px">
          <use href="./images/svg/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button type="button" class="tab-menu__btn btn">
        Buy now
        <svg class="btn__icon" width="10px" height="10px">
          <use href="./images/svg/sprite.svg#cheveron-right"></use>
        </svg>
      </button>
    </nav>
  </div>
</section>
