<section class="hero">
  <div class="hero__container container">
    <div class="hero__main">
      <h1 class="visually-hidden">Icecream</h1>
      <p class="hero__slogan">ice cream made with <span class="hero__accent">passion</span></p>
      <ul class="hero__list">
        <li class="hero__item">
          <a class="hero__btn hero__btn--red" href="">Products</a>
        </li>
        <li class="hero__item">
          <a class="hero__btn hero__btn--white" href="">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero__store store">
      <ul class="store__list">
        <li class="store__item">
          <p class="store__number">16</p>
          <p class="store__type">cafes</p>
          <div class="store__circle"></div>
        </li>
        <li class="store__item">
          <p class="store__number">23</p>
          <p class="store__type">food trucks</p>
          <div class="store__circle"></div>
        </li>
      </ul>
    </div>
    <div class="hero__descr">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero__more">
        <svg class="hero__icon">
          <use href="./images/svg/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <div class="circle"></div>
    <picture class="hero__picture picture__main">
      <source
        srcset="./images/hero/desktop-ice-cream.png 1x, ./images/hero/desktop-ice-cream@2x.png 1x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/tablet-ice-cream.png 1x, ./images/hero/tablet-ice-cream@2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero/mobile-ice-cream.png 1x, ./images/hero/mobile-ice-cream@2x.png 2x"
      />
      <img src="./images/hero/desktop-ice-cream.png" alt="Icecream" />
    </picture>
    <picture class="hero__picture picture__milk">
      <source
        srcset="./images/hero/desktop-milk.png 1x, ./images/hero/desktop-milk@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/tablet-milk.png 1x, ./images/hero/tablet-milk@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero/desktop-milk.png" alt="Milk" />
    </picture>
    <picture class="hero__picture picture__girl">
      <source
        srcset="./images/hero/desktop-girl.png 1x, ./images/hero/desktop-girl@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/tablet-girl.png 1x, ./images/hero/tablet-girl@2x.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/hero/desktop-girl.png" alt="Girl" />
    </picture>
  </div>
</section>
