<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <button class="mobile-menu__close js-close-menu" type="button">
      <svg class="mobile-menu__icon" width="20px" height="20px">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="mobile-menu__nav">
      <button type="button" class="mobile-menu__btn btn">
        Buy now
        <svg class="btn__icon" width="10px" height="10px">
          <use href="./images/svg/sprite.svg#cheveron-right"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="./index.html" class="mobile-menu__link">Home</a>
        </li>
        <li class="mobile-menu__item"><a href="#about" class="mobile-menu__link">About us</a></li>
        <li class="mobile-menu__item">
          <a href="#how-made" class="mobile-menu__link">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#products" class="mobile-menu__link">Our products</a>
        </li>
        <li class="mobile-menu__item"><a href="#contacts" class="mobile-menu__link">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
