<div class="mob-menu is-hidden" data-menu>
  <button type="button" class="mob-menu__btn-close" data-menu-close>
    <svg class="mob-menu__close" width="20px" height="20px">
      <use href="./images/svg/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="mob-menu__links">
    <button type="button" class="mob-menu__btn">
      Buy now
      <svg class="mob-menu__arrow-icon" width="10px" height="10px">
        <use href="./images/svg/sprite.svg#icon-arrow-right-button"></use>
      </svg>
    </button>
    <ul class="mob-menu__list">
      <li class="mob-menu__item"><a href="" class="mob-menu__link">Home</a></li>
      <li class="mob-menu__item"><a href="" class="mob-menu__link">About us</a></li>
      <li class="mob-menu__item"><a href="" class="mob-menu__link">How it’s made?</a></li>
      <li class="mob-menu__item"><a href="" class="mob-menu__link">Our products</a></li>
      <li class="mob-menu__item"><a href="" class="mob-menu__link">Contact</a></li>
    </ul>
  </div>
</div>
