<section class="products">
  <div class="container">
    <p class="products__sub-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <!-- Picture 1-->
        <div class="products__thumb">
          <picture>
            <!-- Desktop 1 -->
            <source
              srcset="
                ./images/products-webp/desktop-product-1.webp    1x,
                ./images/products-webp/desktop-product-1-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/products/desktop-product-1.png    1x,
                ./images/products/desktop-product-1-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <!-- Tablet 1 -->
            <source
              srcset="
                ./images/products-webp/tablet-product-1.webp    1x,
                ./images/products-webp/tablet-product-1-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/tablet-product-1.png    1x,
                ./images/products/tablet-product-1-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- Mobile 1 -->
            <source
              srcset="
                ./images/products-webp/mobile-product-1.webp    1x,
                ./images/products-webp/mobile-product-1-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/products/mobile-product-1.png    1x,
                ./images/products/mobile-product-1-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Default 1-->
            <img src="./images/products/mobile-product-1.png" alt="img" />
          </picture>
        </div>
        <p class="products__name">ice cream</p>
        <p class="products__meta">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea debitis magni corrupti
          facilis fugit! Veniam modi repellendus inventore quibusdam incidunt!
        </p>
        <button class="products__button" type="button">
          <svg width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <!-- Picture 2 -->
        <div class="products__thumb">
          <picture>
            <!-- Desktop 2 -->
            <source
              srcset="
                ./images/products-webp/desktop-product-2.webp    1x,
                ./images/products-webp/desktop-product-2-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/products/desktop-product-2.png    1x,
                ./images/products/desktop-product-2-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <!-- Tablet 2 -->
            <source
              srcset="
                ./images/products-webp/tablet-product-2.webp    1x,
                ./images/products-webp/tablet-product-2-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/tablet-product-2.png    1x,
                ./images/products/tablet-product-2-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- Mobile 2 -->
            <source
              srcset="
                ./images/products-webp/mobile-product-2.webp    1x,
                ./images/products-webp/mobile-product-2-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/products/mobile-product-2.png    1x,
                ./images/products/mobile-product-2-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Default 2 -->
            <img src="./images/products/mobile-product-2.png" alt="img" />
          </picture>
        </div>
        <p class="products__name">ice coffee</p>
        <p class="products__meta">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea debitis magni corrupti
          facilis fugit! Veniam modi repellendus inventore quibusdam incidunt!
        </p>
        <button class="products__button" type="button">
          <svg width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <!-- Picture 3 -->
        <div class="products__thumb">
          <picture>
            <!-- Desktop 3 -->
            <source
              srcset="
                ./images/products-webp/desktop-product-3.webp    1x,
                ./images/products-webp/desktop-product-3-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/products/desktop-product-3.png    1x,
                ./images/products/desktop-product-3-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <!-- Tablet 3 -->
            <source
              srcset="
                ./images/products-webp/tablet-product-3.webp    1x,
                ./images/products-webp/tablet-product-3-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/products/tablet-product-3.png    1x,
                ./images/products/tablet-product-3-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <!-- Mobile 3 -->
            <source
              srcset="
                ./images/products-webp/mobile-product-3.webp    1x,
                ./images/products-webp/mobile-product-3-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/products/mobile-product-3.png    1x,
                ./images/products/mobile-product-3-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Default 3 -->
            <img src="./images/products/mobile-product-3.png" alt="img" />
          </picture>
        </div>
        <p class="products__name">milkshakes</p>
        <p class="products__meta">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea debitis magni corrupti
          facilis fugit! Veniam modi repellendus inventore quibusdam incidunt!
        </p>
        <button class="products__button" type="button">
          <svg width="40" height="40">
            <use href="./images/svg/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
