.contacts {
  background-color: #fff5f6;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 768px) {
  .contacts__wrap {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }
}

.contacts__container {
  display: block;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  width: 220px;
}

.contacts__card {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 21px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .contacts__card {
    margin-bottom: 0;
  }
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #f0d1a5;
  border-radius: 4px;

  width: 80px;
  height: 16px;
  margin-bottom: 25px;
}

.truck {
  background-color: #c2e297;
  width: 130px;
}

.location__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

.location__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
}

.contacts__location {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.week__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.week__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
  margin-bottom: 25px;
}

.week__time:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__week {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.conection__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.conection__link:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  background-color: #fff;
  border-radius: 22px;
  margin: 0 auto;
  width: 162px;
  height: 44px;
  margin-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
}

@media (min-width: 768px) {
  .contacts__btn--wrap {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .contacts__btn {
    margin: 0;
    padding: 0;
    margin-right: 15px;
  }
}

.contacts__btn--wrap {
  margin-top: 54px;
}

@media (min-width: 768px) {
  .contacts__btn--wrap {
    margin-top: 81px;
  }
}

.contacts__btn--text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  margin-right: 8px;
}

.contacts__btn:hover span,
.contacts__btn:focus span {
  color: #fff;
}

.contacts__btn--icons {
  width: 8px;
  height: 8px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}
.contacts__btn .contacts__btn--icons {
  fill: #d41342;
}

.contacts__btn:hover .contacts__btn--icons,
.contacts__btn:focus .contacts__btn--icons {
  fill: #ffffff;
}

.contacts__btn:hover,
.contacts__btn:focus {
  background-color: #d41342;
}
