p {
  margin: 0;
}

.hero {
  margin: 0 auto;

  background-color: $firstProduct;

  &__container {
    position: relative;
    padding-top: 83px;
    padding-bottom: 75px;
    overflow: hidden;

    @include tab {
      padding-top: 31px;
      padding-bottom: 46px;
    }
    @include desk {
      padding-top: 52px;
      padding-bottom: 75px;
    }
  }
}

.hero__main {
  position: absolute;
  top: 193px;
  left: 20px;
  width: 218px;
  z-index: 2;

  @include tab {
    top: 102px;
    left: 34px;
    width: 162px;
  }

  @include desk {
    top: 171px;
    left: 116px;
    width: 277px;
  }
}

.hero__slogan {
  margin-bottom: 19px;
  @include text(26px, 400, 30px, 0.04);
  text-transform: uppercase;
  color: #fff;

  @include tab {
    @include text(22px, 400, 25px, 0.04em);
    margin-bottom: 20px;
  }

  @include desk {
    @include text(38px, 400, 44px, 0.04em);
    margin-bottom: 25px;
  }
}

.hero__accent {
  @include text(48px, 400, 46px, 0);
  color: #d41443;

  @include tab {
    @include text(34px, 400, 31px, 0.04);
  }

  @include desk {
    @include text(58px, 400, 52px, 0.04);
  }
}

.hero__list {
  display: flex;

  & > :first-child {
    margin-right: 8px;
  }
}

.hero__btn {
  display: block;
  padding: 7px 14px;
  @include font;
  @include text(8px, 400, 10px);
  border-radius: 20px;
  @include desk {
    font-size: 14px;
    line-height: 1.3;
    padding: 11px 18px;
  }

  &--red {
    background-color: #d41443;
    color: #fff;
    @include desk {
      padding-left: 22px;
      padding-right: 22px;
    }
    &:hover {
      background-color: #c7133e;
    }
  }

  &--white {
    background-color: #fff;
    color: #d41443;
    &:hover {
      background-color: #ecebeb;
    }
  }
}

.store {
  display: none;

  @include tab {
    position: absolute;
    display: block;
    right: 34px;
    top: 94px;
  }

  @include desk {
    width: 92px;
    height: 168px;
    right: 57px;
    top: 156px;
  }
  &__list {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.store__item {
  position: relative;
  width: 51px;
  height: 44px;

  &:not(:last-of-type) {
    margin-bottom: 13px;

    @include desk {
      margin-bottom: 15px;
      height: 77px;
    }
  }
}

.store__number {
  position: absolute;
  right: 10px;
  z-index: 2;
  @include text(28px, 400, 32px, 0.04em);
  color: #d41443;

  @include desk {
    width: 100%;
    left: -18px;
    top: 4px;
    @include text(46px, 400, 53px, 0.04em);
  }
}

.store__type {
  display: block;
  width: 51px;
  position: absolute;
  bottom: 0;
  right: 10px;
  text-align: right;
  @include font;
  @include text(8px, 400, 10px);
  color: #fff;

  @include desk {
    width: 92px;
    top: 59px;
    right: 18px;
    @include text(14px, 400, 18px);
  }
}

.store__circle {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  @include desk {
    width: 30px;
    height: 30px;
  }
}

.hero__descr {
  display: none;

  @media (min-width: 768px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 114px;
    left: 154px;
    bottom: 46px;
  }
  @media (min-width: 1280px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    left: 295px;
    bottom: 56px;
  }
}

.hero__text {
  @include font;
  @include text(8px, 400, 12px);
  color: $primaryColor;
  @include desk {
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 7px;
}

.hero__icon {
  width: 6px;
  height: 6px;
  fill: #d41443;
}

.circle {
  width: 345px;
  height: 345px;

  margin-left: 11.25%;
  border-radius: 50%;
  background-color: #ffa5ba;
  @include tab {
    margin-left: 39%;
    width: 323px;
    height: 323px;
  }
  @include desk {
    width: 538px;
    height: 538px;
    margin-left: 40.2%;
  }
}

.picture__main {
  position: absolute;
  bottom: 0;
  left: 36.5%;
  width: 171px;
  height: auto;
  transition-property: transform;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tab {
    width: 143px;
    left: 378px;
  }
  @include desk {
    width: 236px;
    left: 634px;
  }

  &:hover {
    transform: scale(120%);
  }
}

.picture__milk {
  display: none;

  @include tab {
    display: block;
    width: 124px;
    height: auto;
    position: absolute;
    bottom: 28px;
    left: 34px;
    transition-property: transform;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include desk {
    width: 188px;
    left: 77px;
    bottom: 45px;
  }
  &:hover {
    transform: scale(120%);
  }
}

.picture__girl {
  display: none;

  @include tab {
    display: block;
    width: 168px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 34px;
    transition-property: transform;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @include desk {
    width: 293px;
  }
  &:hover {
    transform: scale(120%);
  }
}
